.header__link-img {
  margin: auto;
  -webkit-transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

.header__social-link:hover .header__link-img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.header__pagedown-link:hover .header__link-img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


@media screen and (max-width: 735px) {
  .header__link-img {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
  }

  .header__social-link:hover .header__link-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .header__pagedown-link:hover .header__link-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
