.page {
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}

.contacts {
    max-width: 1280px;
    margin: 0 auto;
}

.form__item {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    background: #E5E5E5;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-indent: 20px;
}

.form {
    display: grid;
    grid-template:
            "name name email email phone phone"
            "message message message message message message"
            "info info info button button button";
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px 120px 60px;
    margin-top: 50px;
    color: rgba(51, 51, 51, 0.5);
}

.form__item_name {
    grid-area: name;
}

.form__item_email {
    grid-area: email;
}

.form__item_phone {
    grid-area: phone;
}

.form__item_message {
    grid-area: message;
    resize: none;
}

.form__item_message::placeholder {
    padding-top: 18px;
}

.form__item_button {
    grid-area: button;
    background: #E8C300;
    text-transform: uppercase;
    color: #fff;
}

.information {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}


.line {
  background-image: url(../../img/line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px 5px;
}

.information__icon {
    color: #E8C300;
    padding-right: 10px;
}