.section-title {
  font-family: Banny, Arial, sans-serif;
  font-size: 36px;
  line-height: 2;
  margin: 0;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .section-title {
    font-size: 24px;
  }
}
