.section-subtitle {
  max-width: 565px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 24px;
}
@media screen and (max-width: 375px) {
  .section-subtitle {
    font-size: 14px;
  }
}
