.header__social {
  -ms-flex-preferred-size: 13.4rem;
  flex-basis: 13.4rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  -ms-flex-negative: 2;
  flex-shrink: 2;
}

@media screen and (max-width: 1279px) {
  .header__social {
    padding: 0 0 0 5px;
  }
}

@media screen and (max-width: 735px) {
  .header__social  {
    border-left: 0;
  }
}

@media screen and (max-width: 475px) {
  .header__social  {
    -ms-flex-preferred-size: 2rem;
    flex-basis: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 10px;
  }
}
