.header__logo {
  animation: wheel-rotation 10s ease-out infinite alternate;
}


@media screen and (max-width: 1279px) {
  .header__logo {
    margin-top: 2.5em;
  }
}

@media screen and (max-width: 735px) {
  .header__logo {
    width: 140px;
    margin-top: 0;
  }
}

@media screen and (max-width: 475px) {
  .header__logo {
    width: 90px;
    margin-top: 1.5em;
  }
}
