@-webkit-keyframes line-animation {
  from {
    background-size: 60px 5px;
  }

  to {
    background-size: 100% 5px;
  }
}

@keyframes line-animation {
  from {
    background-size: 60px 5px;
  }

  to {
    background-size: 100% 5px;
  }
}

@-webkit-keyframes wheel-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
