.underline-decoration {
  background-image: url(../../images/line.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60px 5px;
}

.underline-decoration:hover {
    animation: line-animation 1s linear 1 normal forwards;
}
