.header__title {
  margin: 0 auto;
  font-size: 6em;
  line-height: 1.45;
  font-weight: normal;
  font-family: 'Banny', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1279px) {
  .header__title {
    margin: 2rem auto 0;
    line-height: 1.3;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media screen and (max-width: 735px) {
  .header__title {
    font-size: calc(6em - (735px - 100vw)*.09);
  }
}

@media screen and (max-width: 475px) {
  .header__title {
    font-size: 4.5em;
  }
}
