.menu__items {
  font-family: Banny, Arial, sans-serif;
  font-weight: bold;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 363px);
  grid-column-gap: 80px;
  grid-row-gap: 33px;
  justify-content: center;
  font-size: 18px;
  padding: 0;
  margin-top: 52px;
}
@media screen and (max-width: 768px) {
  .menu__items {
    grid-template-columns: repeat(auto-fit, 270px);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .menu__items {
    margin-top: 0px;
    grid-template-columns: 200px;
  }
}
