@import url(__items/navigation-menu__items.css);
@import url(__item/navigation-menu__item.css);
@import url(__link/navigation-menu__link.css);

.navigation-menu {
  width: calc(100% - 160px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 735px) {
  .navigation-menu {
    padding-top: 1.56em;
    width: calc(100% - 20px);;
  }
}
